/*
独自に作成したstylesheetファイルstyles.cssが少なくとも1つあり
少なくとも5つの異なるCSSセレクタ (例:tag (example) 、class (.example) 、またはID (#example)) を使用
font-sizeやmarginなど、合計で少なくとも5つの異なるCSSプロパティを使用
JavaScriptの1つ以上の機能をサイトに統合して、サイトをよりインタラクティブにします。
    たとえば、JavaScriptを使用して、アラートを追加したり、定期的な間隔で効果を与えたり、ボタン、ドロップダウン、またはフォームにインタラクティブな機能を追加
レスポンシブデザイン

*/

/* 共通 */
.page_title {
  color: gainsboro;
  text-align: right;
  margin-right: 5%;
}

.header {
  border-bottom: 1px solid black;
  text-align: right;
  margin-top: 2%;
}

.header a {
  margin-right: 5%;
}

a {
  text-decoration: none;
  color: black;
}

.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.div1 {
  grid-area: 1 / 1 / 2 / 6;
  margin-top: 20px;
  display: flex;
  justify-content: center;

}

ul {
  /* list-style: none; */
  text-align: center;
}

.div2 {
  grid-area: 2 / 1 / 3 / 6;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form_group {
  display: flex;
  flex-direction: column;
}

.div3 {
  grid-area: 3 / 1 / 4 / 6;
  display: flex;
  justify-content: center;
}

.button_group {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

button {
  height: 50px;
  width: 150px;
  background-color: gainsboro;
  border: none;
  border-radius: 5%;
  margin-bottom: 10px;
}

.commands {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: crimson;
}


/* メイン */
#frontTitle {
  text-align: center;
  color: cornflowerblue;
}

#frontVidual {
  height: 300px;
  width: auto;
  background-color: gainsboro;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5%;
}

#frontContent div {
  margin-left: 10%;
  margin-bottom: 10px;
}

/* スマホ向け */
@media screen and (max-width: 480px) {
  .form {
    background-color: white;
    border: 1px solid gray;
    height: 50px;
    width: 300px;
  }
}

/* PC向け */
@media screen and (min-width: 481px) {
  .form {
    background-color: white;
    border: 1px solid gray;
    height: 50px;
    width: 600px;
  }
}
